@use "reset";
@use "variables" as *;
@use "function" as *;

.title {
    text-align: center;

    h2 {
        font-family: $family-en;
    }

    h3 {
        font-family: $family-tc;
        color: rgba($primary, $alpha-20);
    }
}

#topbar {
    .navigation {
        @media ($mediaMd) {
            @include glassmorphism;
        }
    }
    
    .menu {
        @media ($mediaLg) {
            @include glassmorphism;
        }
    }
}

#contact {
    @extend %flex-center;
}

#news {
    @extend %flex-center;
}

.list-box {
    @extend %flex-center;
}

@mixin