// color
$primary: #79ccff;

// Netural colors 中性色
$white: #fefeff;
$light: #f2f7fa;
$light_gray: #e7ebee;
$gray: #c8cacc;
$dark_gray: #a9acad;
$deep_gray: #828486;
$charcoal: #393a3a;
$black: #0a0a0a;