@use "reset"; //use不允許其他規則寫在它之上！use必須在上面！
@use "keyframes";
@use "variables" as *;
@use "function" as *;
@import url('https://fonts.googleapis.com/css2?family=LXGW+WenKai+TC&family=Special+Gothic+Expanded+One&display=swap');

@font-face {
    font-family: "atwriter";
    src: url(../webfonts/atwriter.ttf);
}

/* -----------共用區------------- */
// 區塊標題 
.title {
    margin: $space-ex 0 $space-xl;

    * {
        // 星號（*）表示抓該區域中的所有子孫
        text-align: center;
    }

    h2 {
        position: relative;
        font-family: $family-en;
        font-size: $f-s-xxxl;
        @include border-b (1px, $Charcoal);
        font-weight: $f-w-b;


        &::before {
            content: ""; //content是必填！即使無值也必填！
            position: absolute;
            top: -5px;
            left: -10px;
            //left: calc(50% - 15px); 如果要剛好物件中間的話要這樣寫
            //calc讓不同單位的東西可以加減乘除
            //運算符號前後需要空格！
            width: 15px;
            height: 15px;
            border-radius: $radius-ex;
            background-color: $lesser-4;
        }

        &::after {
            content: ""; //content是必填！即使無值也必填！
            position: absolute;
            bottom: 5px;
            right: -5px;
            width: 10px;
            height: 10px;
            border-radius: $radius-ex;
            background-color: $lesser-4;
        }
    }

    h3 {
        font-family: $family-tc;
        font-size: $f-s-lg;
    }

    /* 按鈕區 */
    .btnAnimate {
        border-radius: $radius-ex;
    }
}

.logo {
    width: 55px;
}

.icon {
    a {
        width: 35px;
        height: 35px;
        margin: $space-xxs;
    }
}

//此處迴圈不需調用，直接編譯語法即可（不可寫入function）
@each $social in fb, ig, line {
    .icon-#{$social} {
        background-image: url(../images/icon-#{$social}.svg);

        &:hover {
            background-image: url(../images/icon-#{$social}-hover.svg);
        }
    }
}

.more {
    width: 100px;
    //height: 50px; //行高設定跟高度一樣，文字即可垂直置中
    line-height: 50px; //單行文字垂直置中，可直接設定行高、取代高度
    text-align: center;
    background-color: $lesser-4;
    margin-top: $space-lg;
    color: $Light;
    border-radius: $radius-ex;
}

/* ---------------首頁區---------- */
#topbar {
    position: fixed;
    top: 0;
    left: 0;
    width: $w-100;
    z-index: $z-ex;
    @extend %flex-between;
    padding: $space-xs $space-xl;

    ul {
        @extend %flex-end;
    }

    .menu {
        padding: $space-x-xs;
        border-radius: $radius-ex ;
        @include glassmorphism;

        a {
            font-family: $family-en;
            font-weight: $f-w-b;
            margin: $space-xs;
            @include border-b($width: 2px, $color: transparent);

            &:hover {
                color: $Black;
                @include border-b($width: 2px, $color: $Black);

            }
        }
    }
}

/* 主要內容區 */
#index {
    section {
        @extend %flex-center;
        flex-direction: column;
        height: 100vh;
    }
}

/* 最新消息的共用區 */
.list-box {
    display: flex;
    gap: $space-xl;
    max-width: 1100px;
    //最大寬度，只要超過這個數值，文字就不會再變形了
    //提升閱讀注意力，將注意力集中在中間
    //最小不一定設定，因為通常會設定RWD

    .item {
        flex: 1;
        @include bordered;
        border-radius: $radius-md;
        overflow: hidden; //超過指定的框（在此處為超過圓角的圖片範圍）會被隱藏
    }

    .text-box {
        padding: $space-md;

        h2 {
            font-size: $f-s-lg;
            font-weight: $f-w-m;
            margin-bottom: $space-xs;
        }

        p {
            text-align: justify; //中文文案建議齊行，英文文案不建議使用
            @extend %mutiple-lines;
            -webkit-line-clamp: 4;
        }
    }
}

/* 最新消息 */
#news {
    background-color: $bg-1;

    figure {
        height: 30vh;

        img {
            @extend %img-cover;
        }
    }
}

/* 服務項目 */
#service{
    .item{
        height: 50vh;

        background-size: cover;
        background-position: center; 
        //背景圖片預設抓取左上角並剪裁調右下圖片範圍
        //要背景置中要另外寫background-position:
        //原本正確應該是background-position: center center;
        //但預設y軸本來就是center顧可以省略

        &:nth-child(1){
            background-image: url(../images/pt_svc1.jpg);
        }
        &:nth-child(2){
            background-image: url(../images/pt_svc2.jpg);
        }
        &:nth-child(3){
            background-image: url(../images/pt_svc3.jpg);
        }
        &:nth-child(4){
            background-image: url(../images/pt_svc4.jpg);
        }
    }

}



/* 聯絡我們 */
#contact {
    position: relative;
    overflow: hidden;
    @extend %flex-center;
    flex-direction: column;
    height: 100vh;
    background-color: $bg-1;

    .content {
        display: flex;
        width: $w-80;

        @media ($mediaSm) {
            flex-direction: column;
        }

        >* {
            flex: 1;
            margin: $space-x-xl;
        }

        h1 {
            font-size: $f-s-xl;
            font-weight: $f-w-b; //600
        }

        address {
            font-size: $f-s-sm;
            font-style: normal;
            margin: $space-y-md;
        }

        iframe {
            width: $w-100;
            height: 300px;
        }

        /* 聯絡表單 */
        #contactform {
            >* {
                display: block;
                width: $w-100;
            }

            label {
                margin: $space-xs 0 $space-xxs;
            }

            .btnAnimate {
                @extend %btnAnimate;
            }

            input {
                @extend %input-style;
            }

            textarea {
                @extend %input-style;
            }
        }
    }

    figure {
        position: absolute;
        width: 250px;

        @media ($mediaMd) {
            width: 200px;
        }

        @media($mediaSm) {
            display: none;
        }
    }

    .flower_1 {
        left: 0;
        bottom: -30px;
    }

    .flower_2 {
        right: -30px;
        top: 110px;
        transform: rotate(-30deg);
    }
}




/* 頁尾區 */
footer {
    @extend %flex-between;
    padding: $space-md $space-xl;
    background-color: $lesser-4;
    color: $Light;

    @media($mediaLg) {
        flex-direction: column;
    }

    a {
        color: $Light;
    }

    h2 {
        font-size: $f-s-xl;

        span {
            font-size: $f-s-md;
        }
    }

    .sitemap {
        display: flex;

        @media ($mediaMd) {
            margin-top: $space-xl;
        }

        @media($mediaSm) {
            flex-direction: column;

            ul {
                padding-left: $space-md;

                li {
                    padding: $space-y-xs;
                }
            }
        }

        >li {
            margin: $space-xs;
        }
    }

    small {
        align-self: flex-end;

        @media($mediaSm) {
            align-self: flex-start;
            margin-top: $space-xl;
        }
    }
}