@use "../variables/" as *;

// 混用
// 玻璃擬態
@mixin glassmorphism {
    background-color: var(--alpha-w-20);
    border: 2px solid var(--alpha-w-40);
    backdrop-filter: blur(30px);
    box-shadow: 2px 2px 5px rbga($black);
    inset: -1px -1px 1px rbga($white);
}