@charset "UTF-8";
#topbar .menu {
  color: #444;
  padding: 0 15px;
  border-radius: 999px;
}
#topbar .menu a {
  font-font-family: "Special Gothic Expanded One", sans-serif;
  font-weight: 700;
  font-size: 0.8rem;
  line-height: 1.2rem;
  margin: 10px;
  border-bottom: 2px solid transparent;
}
#topbar .menu a:hover {
  color: #444;
  border-bottom: 2px solid #444;
  /* 邊框-下 */
}

.icon-fb {
  background-image: url(../images/icon-ig.svg);
}
.icon-fb:hover {
  background-image: url(../images/icon-fb-hover.svg);
}
.icon-ig {
  background-image: url(../images/icon-fb.svg);
  /* background-size: 100%; */
}
.icon-ig:hover {
  background-image: url(../images/icon-ig-hover.svg);
}
.icon-line {
  background-image: url(../images/icon-line.svg);
}
.icon:hover {
  background-image: url(../images/icon-line-hover.svg);
}

.title h2 {
  font-family: "atwriter";
  font-size: 1.5rem;
  font-weight: 700;
}